* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f0eb;
  margin: 0;
  overflow-x: hidden;
}

header {
  background-color: #f6f0ebc8;
  padding: 24px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
}

.header-container {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100px; */
}

#Top-picks,
#Whopper,
#Stunner-Menu,
#New\ Foodie\ Collection,
#Deal\ of\ the\ Day {
  scroll-margin-top: 100px;
}

a {
  text-decoration-line: none;
  color: #492118;
}
nav a {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}

nav {
  max-width: 1290px;
}
/* When we select like a + a, it leaves the first element and then apply margin-left 60px to the other elements. */
nav a + a {
  margin-left: 60px;
}

header a:hover {
  text-decoration: underline;
}

.logo {
  width: 50px;
}
.logo img {
  width: 100%;
}

main {
  padding: 0 24px;
}
img {
  width: 100%;
}

.img-container {
  max-width: 1290px;
  margin: 0 auto;
}

.combined-section {
  margin-top: 100px;
}

.combined-section p {
  text-align: center;
  color: #492118;
  font-size: 24px;
  font-weight: 400;
}

.section .img-container {
  max-width: 960px;
}

.section h2 {
  text-align: center;
  color: #492118;
  font-size: 48px;
  font-weight: 700;
}
.section {
  margin-top: 120px;
}

.go-to-top {
  text-align: right;
  max-width: 960px;
  margin: 0 auto;
  text-decoration: underline;
}

#message {
  text-align: center;
  color: #858585;
  font-size: 24px;
  margin-top: 36px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 14px;
  display: none;
  cursor: pointer;
}
.hamburger-menu-container {
  overflow: hidden;
  position: relative;
  height: 70px;
  width: 70px;
  display: none;
}

.hamburger-menu {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 40%;
  position: absolute;
  top: -130px;
  right: -136px;
}
.hamburger-icon {
  font-size: 24px;
  bottom: 28px;
  left: 28px;
  position: absolute;
}

@media (max-width: 1200px) {
  .navigation {
    font-size: 16px;
  }
  nav a + a {
    margin-left: 44px;
    font-size: 18px;
  }
  header {
    padding: 16px 24px;
  }
}

@media (max-width: 960px) {
  .navigation {
    font-size: 14px;
  }
  nav a + a {
    margin-left: 32px;
  }

  .combined-section p {
    font-size: px;
  }

  .section h2 {
    font-size: 40px;
  }

  .combined-section {
    margin-top: 40px;
  }

  .section {
    margin-top: 42px;
  }

  nav a {
    font-size: 16px;
  }

  .combined-section p {
    font-size: 12px;
  }

  .section h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 24px;
    background: rgba(255, 255, 255, 0.95);
    top: 24px;
    padding: 24px;
    /* display: none; */

    visibility: hidden;
    opacity: 0;
    transform: translateY(
      -20px
    ); /* Optional: Start slightly above its final position */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .header-container {
    min-height: 70px;
  }

  nav a + a {
    margin: 0;
    margin-top: 16px;
  }
  #message {
    font-size: 12px;
  }
  h3 {
    font-size: 16px;
  }

  .close-icon,
  .hamburger-menu-container {
    display: block;
  }

  .menu-open nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .menu-open .hamburger-menu-container {
    display: none;
  }
}
